<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify">
          Un cóctel o coctel ​ es una preparación a base de una mezcla de
          diferentes bebidas, que contiene por lo general dos o más tipos de
          bebidas, aunque algunas de ellas pueden ser bebidas no alcohólicas, a
          base de ingredientes como jugos, frutas, miel, leche o crema,
          especias, etc.
        </p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12"></div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="twitter" href="https://twitter.com/percytataje10"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/victor-percy-tataje-guzman-ab69a2154/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
