/* You can add global styles to this file, and also import other style files */
html {
  min-height: 100%;
  position: relative;
}

.ng-autocomplete {
  width: 100% !important;
  max-width: 100% !important;
}
